table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 110%;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    border-width:1px;
    border-color:black;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    padding: 10px 20px;
    background: #F8E391;
}
tr:last-child td:last-child {
    border-radius: 0 0 10px 10px;
}
tr:first-child td:first-child {
    border-radius: 10px 0 0 0;
}
tr:first-child td:last-child {
    border-radius: 0 10px 0 0;
}

.btn {
    background: #BCEBDD;
    color: white;
    font-size: 130%;
    text-shadow: 0 1px 1px #2D2020;
    padding: 5px 10px;
    border-radius: 5px;
}
.btn:hover {
    background: #AAABDD;
}